extends layout

block content
  div.form
    h2= 'Please enter your email and password to begin'
    form(id='login', name='login', action='/account/login', method='POST')
      input(type='text', name='email', placeholder='Email')
      input(type='password', name='password', placeholder='Password')
      input(type='submit')
  div.infobox
    span.left
      a(href='/account/register')= 'Register'
    span.right
      a(href='/account/forgot')= 'Forgot your password?'
