body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  margin-top: 5px;
}

div {
  background-color: #F0F0F0;
}

div.title {
  display: block;
  width: 100%;
  text-align: center;

  h1 {
    font-size: 2.5em;
  }
}

div.account {
  float: right;
}

div.form {
  text-align: center;

  h2 {
    padding-top: 5px;
  }

  input {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

div.infobox {
  margin-left: auto;
  margin-right: auto;

  //TODO background/border maybe?

  span {
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

div.content {

}

div.reminders {
  width: 25%;
  float: left;
}

div.events {
  width: 50%;
  display: inline-block;
}

div.menu {
  width:25%;
  float: right;
}

span.title {
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
