extends ../layout

block content
  div.form
    h2= 'Enter your email to reset your password'
    form(id='forgot', name='forgot', action='/account/forgotpassword', method='POST')
      input(type='text', name='email', placeholder='Email')
      input(type='submit')
